*pyc
*swp
*.DS_Store
*.npz
*.json
examples/pbc_examples/.DS_Store
examples/pbc_examples/pseudo/.DS_Store
.mypy_cache
decodense.egg-info/
ms.aux
acs-ms.bib
ms.bbl
ms.blg
ms.log
ms.pdf
notes_mf_decomp.txt
articles/
